@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar custom */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-th-gray/50;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-th-orange rounded-lg;
}

body {
  @apply bg-th-dark text-white min-h-screen;
}

/* animation list */
.drop-down-animate {
  animation: drop-down-animate 300ms;
}

/* fade in */
@keyframes drop-down-animate {
  from {
    opacity: 0;
    top: 100%;
  }
  to {
    opacity: 1;
  }
}
